/*
=================================================
CSS Reset
=================================================
*/
/*http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
=================================================
Custom Styles
=================================================
*/
body {
    background-color: #EDEDED;
    font-family: Arial, Verdana;
    color: #414142;
}

/*
=================================================
Page Layout
=================================================
*/

#content {
    Width: 100%;
    padding-top: 1em;
    /*height:800px;*/
    margin:auto;
    background-color: whitesmoke;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav {
    width: 300px;
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

footer {
   height: 50px;
   /*clear:both;*/
   bottom: 0;
}

/*
=================================================
Header
=================================================
*/

#logo  {
    text-align: center;
    background-color: #ededed;
    padding: 1em 0;
}

#logo span {
    vertical-align: middle;
    font-size: 2em;
    font-family: 'Bree Serif', serif;
    margin-left: .2em;
}

#logo img {
    max-width: 100%;
    vertical-align: middle;
}

#logo a {
    text-decoration: none;
    color: #414142;
    position: relative;
}

/*
=================================================
Navigation - Table of Contents
=================================================
*/

ul a li {
    margin-bottom: .5em;
    padding: 6px;
    background-color: rgba(214, 64, 120, .5);
    border-radius: 4px;
    transition: background-color 250ms ease-in-out;
}

ul a {
    text-decoration: none;
    color: #414142;
    text-align: center;

}

a:hover li {
    background-color: rgba(214, 64, 120, .75);
}


/*
=================================================
Footer Styles
=================================================
*/


footer small {
    color:gray;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-left: 1.5em;
    margin-top: 10px;
}

small a {
    color: #414142;
    margin-left: 2px;
    line-height: 50px;
    transition: color 150ms ease-in-out;
}

small a:hover {
    color: #4F927F;
}

/*
=================================================
No Layout Styles
=================================================
*/

#no-layout p {
    background-color: whitesmoke;
    padding: 1em;
}
